.navbar {
    display: grid;
    grid-template-columns: auto auto auto auto 1fr;
    background-color: rgba(190, 0, 149, 0.493);
    align-items: center;
    justify-items: center;
    gap: 10px;
    padding: 10px;
}

.navbar-icon {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.code {
    justify-self: end;
}