.day {
    display: grid;
    grid-template-rows: auto auto repeat(24, 1fr);
    width: 100%;
    border-left: 1px solid white;
    text-align: center;
}

.availableHour, .busyHour {
    font-size: 1.5svh;
    user-select: none;
    border-bottom: 1px solid gray;
}

.availableHour {
    color: rgb(255, 0, 200);
    background-color: rgb(63, 63, 63);
}

.busyHour {
    color: gray;
}